[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git

# ADS 版本固定为 5.0.0（submodule 内 git describe 不可用，见根 CMakeLists.txt 的 ADS_VERSION）
[submodule "third_party/ads"]
	path = third_party/ads
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git

[submodule "third_party/QFluentKit"]
	path = third_party/QFluentKit
	url = https://github.com/toddming/QFluentKit.git
[submodule "third_party/asmjit"]
	path = third_party/asmjit
	url = https://github.com/asmjit/asmjit.git
